<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
    <link rel="stylesheet" href="../static/feedback.css">
</head>
<body>
    <div class="navbar">
        <img class="pic" src="/images/iusymbol.png" alt="IU symbol" />
        <h2 class="name">IUPUI Tower Laundry Room</h2>

        <div class="links">
            <a href="home">Home</a> <a href="available">Availability</a>
        </div>
    </div>
    <!-- navbar ends -->
    <div class="container">
        <p>This website was developed for you the
            students to make your lives easier if you have any
            feedback or any features you feel that need to be
            added feel free to fill out this form and submit it.
            Depending on the quality of these features I
            will add them.
        </p>
            <h2 class="feedback-header">Feedback Form</h2>
            <form action="mailto:cocarmon@iu.edu" method="post">
                <div>
                    <input input="email" placeholder="Enter your email" value="">
                </div>

                <div>
                    <textarea rows="15" cols="56" name="" placeholder="Enter your feedback"></textarea>
                </div>
                <button type="submit" >Submit</button>
            </form>
                    <footer class="main-footer"></footer>
        </div>
    <!-- container ends -->
</body>
</html>