<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IUPUI Laundry Room</title>
    <link rel="stylesheet" type="text/css" href='./static/indexstyle.css'>
</head>
<body>
    <div class="navbar">
        <img class ="pic" src="/images/iusymbol.png" alt="IU symbol" />
        <h2 class="name">IUPUI Tower Laundry Room</h2>

        <div class="links">
            <a href="/available">Availability</a> <a href="feedback">Feedback</a>
        </div>
    </div>

    <img class="tower-pic" src="/images/home-1216.jpg" alt="Image of Downtown Indianapolis">

    <section class="L-body">
        <h3 class="heading">The Mission</h3>
        <p> Hello, my name is Cody Carmony and for those of you who live in the tower what is one of the most annoying things you can think of?
            How about when you carry all of your laundry down to the laundry room only to discover that everything is full. I certainly have had this happen
            multiple times so what I created is a website where you could check to see which dryers or washers are open or how long until they are available.
            I am doing this as part of my final for Computing 230. This website will rely on you the users to accurately  select which washer or dryer you are
            using and select the amount of time for which it will occupy. Once the time is up the website will then display what washer or dryer is available.
        </p>
        <br>
        <h3 class="headings">How it Works.</h3>
        <p> Go to the top right of this page and click on the availability tab which displays which washer and dryers are open.
            You will see three categories dryer, washer, dryer once you have the machine ID of the machine you want. The machine ID is displayed
            below the category name.
            Then go to the bottom of the page and click on the drop down tab to select your machine ID.
            Then do the same for your time, once you hit submit you should see that the machine you selected now displays the time until it is finished.
            If there are other times in your category and it is past that time once you submit your time it will automatically update and delete those times.
        </p>
        </section>
        <footer class="main-footer">
        </footer>
</body>
</html>